html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="preload" as="image" href="../assets/images/xx_800.jpeg")
    //- Google fonts
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap")
    //- relative path to SCSS source file
    link(rel="stylesheet" href="../scss/style.scss")
  body
    .u-full-width.header
      .container
        .hero
          h1 Zażółć gęś&nbsp;mą i&nbsp;jaźń!
    .u-full-width
      .container
        .row.with-bg-image
          .six.columns
            h2 Hello World!
          .six.columns Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h2 What is Lorem Ipsum?
        div Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        h3 Why do we use it?
    .u-full-width.red
      .container
        div It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        .row
          .center
            a(href="https://www.lipsum.com/")
              span www.lipsum.com
    .u-full-width.footer
      .container
        .row
          .six.columns
            div.center
              span user
              span(id="domain") &nbsp;[at]&nbsp;domain
          .six.columns
            div.center
              span &reg;&nbsp;2024
    //- relative path to TypeScript source file
    script(src="../app/main.js" defer="defer")
