@import 'fonts.scss';

@import '../libs/Skeleton-2.0.4/css/normalize.css';
@import '../libs/Skeleton-2.0.4/css/skeleton.css';

@import 'layout.scss';

$backgroundColor: #eee;
$color: #333;

body {
    background-color: $backgroundColor;
    color: $color;
}

h1 {
    font-family: Cardo, 'Times New Roman', Times, serif;
}

.red {
    background-color: rgba(231, 187, 187, 0.6);
    background-blend-mode: luminosity;
}
